<!doctype html>
<html lang="en" ng-app="todoList">
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoListController.js"></script>
    <style>
    .done{
      text-decoration: line-through;
      color: #707070;
    }
    </style>
  </head>

  <body ng-controller="todoListController as todoCtrl">
    <div>
      <form name="todoFrm" class="form-horizontal" ng-submit="todoCtrl.addTask()">
        <input type="text" ng-model="todoCtrl.taskInput" required>
        <button class="btn" ng-disabled="todoFrm.$invalid"> Add Task</button>
      </form>
      <p class="current-filter">{{todoCtrl.filter}} Tasks</p>
      <ul class="list-group">
        <li ng-repeat="item in todoCtrl.tasks | filter: todoCtrl.listFilter">
          <input class="checkDone" type="checkbox" ng-model="item.done"/>
          <span ng-class="{'done':item.done}">{{item.todo}}</span>
        </li>
      </ul>
      <button class="btn filter-all" ng-click="todoCtrl.listFilter = {}; todoCtrl.filter = 'All'">All</button>
      <button class="btn filter-active" ng-click="todoCtrl.listFilter = { done: false}; todoCtrl.filter = 'Active'">Active</button>
      <button class="btn filter-complete" ng-click="todoCtrl.listFilter = { done: true}; todoCtrl.filter = 'Completed'">Complete</button>
      <button class="btn clearBtn" ng-click="todoCtrl.clearCompleted()">Clear Completed</button>
    </div>
  </body>
</html>
